.app__title {
  @apply bg-bahamut-green border-2 leading-27 font-bold text-white text-center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(216, 243, 221, 0.56)),
    color-stop(60%, rgba(91, 225, 194, 0.56)),
    to(rgba(25, 201, 177, 0.56))
  );
  border-color: rgba(4, 98, 79, 0.15);
  box-shadow: 2.2px 2.2px 1px rgb(255 255 255 / 50%) inset;
}

.daily-signin__wrapper {
  @apply flex items-center justify-center w-full bg-bahamut-yellow border border-bahamut-deepYellow py-3.25 rounded;
  color: rgba(0, 0, 0, 0.5);
}

.anime-video__wrapper {
  @apply mb-2.5;
}

.anime-video__wrapper:last-child {
  @apply mb-0;
}

.anime-video__info {
  @apply border-l border-r border-b border-gray-250 py-0.75 rounded-l rounded-r;
}

.anime-video__info:hover .anime-video__info__link p:last-child {
  @apply underline;
}

.anime-list__link {
  @apply text-tiny overflow-hidden whitespace-nowrap overflow-ellipsis inline-block align-middle leading-21 text-bahamut-linkBlue hover:underline;
  max-width: 116px;
}

.main-news-card__tag {
  @apply absolute py-0.5 px-2.5 top-1.25 text-white;
  background: rgba(134, 134, 134, 0.7);
  border-radius: 0 3px 3px 0;
}

.tab-default .react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.tab-default .react-tabs__tab-list {
  @apply flex gap-0.5 border-b border-gray-250;
}

.tab-default .react-tabs__tab {
  @apply text-center text-gray-350 bg-gray-550 border-gray-250 border-t border-l border-r py-0.75 cursor-pointer relative px-2.25;
  min-width: 60px;
}

.tab-default .react-tabs__tab--selected {
  @apply bg-white border-b-0 border-gray-250 text-bahamut-selectedBlue font-bold;
  background-image: url("../img/now2.jpg");
  background-repeat: repeat-x;
}

.tab-default .react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.tab-default .react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.tab-default .react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.tab-default .react-tabs__tab-panel {
  display: none;
}

.tab-default .react-tabs__tab-panel--selected {
  display: block;
}
