@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply text-base;
}

.welfare-agency-item:hover span {
  text-decoration: underline #f39c12;
}

.welfare-agency-item:hover p {
  color: #3e81c6;
  text-decoration: underline #3e81c6;
}
