@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply text-base;
}

.welfare-agency-item:hover span {
  text-decoration: underline #f39c12;
}

.welfare-agency-item:hover p {
  color: #3e81c6;
  text-decoration: underline #3e81c6;
}

.main-topic-section__grid {
  display: grid;
  grid-template-columns: 26.69px 135px 1fr 41.19px;
}
